*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.indexRecetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*/ home del sitio /*/
.recetaDos{
    width: 16%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #1b05c4;
    margin: 25px;
}

.recetaDos img{
    width: 100%;
}

/*/ HEADER/*/

.logo{
    width: 10%;
    padding: 10px;
    border-radius: 50%;
}

header ul{
    box-sizing: border-box;
    border: 4px solid #1b05c4;
    margin: 25px;
}

header li{
    list-style: none;
    padding: 10px;
    justify-content: space-between;
}

/*/ register /*/
body.registro {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #f4f4f4; 
}
.reg {
    text-align: center;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}
form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 100%;
}
input[type="email"], input[type="radio"] {
    padding: 8px;
    margin: 5px 0; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
.cajaformulario {
    display: flex;
    align-items: center; 
}
button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: blue;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-right: 20px;
}

.form-uno{
    margin-top: 10px; 
}

.listaHeader a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.form-control{
    width: 80%;
    font-size: 20px;
}



/*/ FOOTER /*/

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #1b05c4;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: white;
}



/*/formulario/*/

.form-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.btnBuscar{
    margin: 10px;
    font-size: 20px;
}

.invalid-feedback{
    font-size: 15px;
    color: red;
}
