*{
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.indexRecetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*/ home del sitio /*/
.recetaDos{
    width: 16%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #1b05c4;
    margin: 25px;
}

.recetaDos img{
    width: 100%;
}

/*/ HEADER/*/

.logo{
    width: 10%;
    padding: 10px;
    border-radius: 50%;
}

header ul{
    box-sizing: border-box;
    border: 4px solid #1b05c4;
    margin: 25px;
}

header li{
    list-style: none;
    padding: 10px;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin-right: 20px;
}

.listaHeader a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}



/*/ register /*/
.registro {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white; 
}
.reg {
    text-align: center;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px grey; 
}
form {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 100%;
}
button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.R-form {
    font-size: 25px;
}
.form-link a {
    text-decoration: none;
}
.error-message {
    color: red;
    font-size: 15px;
}



/*/ FOOTER /*/

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #1b05c4;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: white;
}



/*/formulario/*/

.form-uno{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 30px;
}

.btnBuscar{
    margin: 10px;
    font-size: 20px;
}

.invalid-feedback{
    font-size: 15px;
    color: red;
}


/*/LOG IN/*/

.login{
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    padding: 10px;
}

/*/ categories /*/
main {
    padding: 20px;
    text-align: center;
}

#categorias-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.category-item {
    padding: 20px 30px;
    background-color: #1b05c4;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    max-width: 200px;
    text-align: center;
}

#recipes-list {
    display: none;
    margin-top: 30px;
}

#recipes-list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

#recipes-list li {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipes-list li img {
    max-width: 300px;
    margin-top: 10px;
}

#recipes-list li .recipe-name {
    font-size: 18px;
    color: #1b05c4;
    font-weight: bold;
}
